# Compiled source #
###################
*.pyc


# Logs #
########
*.log

# Performance profiles #
########################
*.profile

# Coverage profiles #
#####################
*.coverage

# Cache #
#########
*.cache

# vim session files #
#$###################
Session.vim

# Coverage files
#################
htmlcov

# Lock files #
##############
*.lock
