image: "python:3.5"

before_script:
    - apt-get update -qy && apt-get install -y python3-dev python3-pip
    - pip3 install pipenv
    - pipenv install

run_tests:
    script:
        - pipenv run pytest
